
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


h1 {
    color: #333;
    font-family: Arial, sans-serif;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.posts {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}